body{
  background: url("../image/adbck3.jpeg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  background-blend-mode: hard-light;
  background-position:center;
}
h1{
  font-family:Ubuntu;
  font-size: 45px;
  color: 	#FAFAD2;
  text-align: center;
}
h3{
  font-family:Ubuntu;
  font-size: 35px;
  color: #FFF0F5;
  text-align: center;
}

#field{
  width: 400px;
  height: 30px;
}

#house{
  background-color:black;
  opacity:0.5;
  overflow: auto;
  border: 1px solid  black;
  width: 625px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
  border-radius: 10px;
}
.buttons {
	background-image: url("../image/back_button.png");
  background-size: contain;
  background-color: transparent;
  padding: 0;
  border: none;
  outline: none;
  overflow: visible;
  cursor: pointer;
  width: 70px;
  height:70px;
}
#btn{
  background-image: url("../image/sub.png");
  background-size: contain;
  background-color: transparent;
  padding: 0;
  border-radius: 5px;
	width: 96px;
	height:75px;
}
#footer{
	text-align: center;
	font-family:ubuntu;
	color: #E9967A;
}

#fixed{
  opacity: 0.5;
  position:fixed;
  left:22px;
  top:0;
  width:220px;
  height:70px;
  border-radius:9px;
  z-index:1000;
 }
#image{
  image-resolution: from-image;
  width: 25%;
  margin-top: 25%;
}
